.App {
  text-align: center;
  margin-top: 50px;
}

.title {
  color: #333;
}

.admin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.mode-toggle-btn {
  margin-bottom: 20px;
}

.quiz-completed {
  color: #333;
}

.score {
  margin-bottom: 20px;
}

.question-number {
  color: #333;
}

.question {
  color: #555;
  margin-bottom: 20px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line */
  margin-bottom: 10px;
}


.submit-btn {
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.score {
  color: #333;
}
